{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@queries": "./queries",
          "@settings": "./settings",
          "@utils": "./utils",
          "@types": "./types"
        }
      }
    ]
  ]
}
